html {
  height: 100%;
}

body {
  height: 100%;
  /* font-family: 'Open Sans', sans-serif; */
  /* background-color: #F9FEFF; */

}

.container-fluid {
  padding: 0px;
  height: 100%;
}

.row {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.row > * {
  padding: 0px;
  height: 100%;
}

.sidebar {
  position: relative;
}

.vertical-stripe {
  background-color: #D1C0A3;
  width: 25px;
  height: 100%;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.horizontal-stripe {
  background-color: #D1C0A3;
  margin-left: -100%;
  width: 300%;
  height: 24px;
  z-index: 3000;
  /* margin-top: -40px; */
}

.logo {
  position: absolute;
  right: 106px;
  bottom: 200px;
}

.twirled {
  color: #EAC9A6;
  /* font-family: 'Work Sans', sans-serif; */
  /* font-family: 'Abel', sans-serif; */

  /* font-family: 'Comfortaa', cursive; */
  /* font-family: 'Julius Sans One', sans-serif; */
  font-weight: bold;
  /* font-family: 'Averia Sans Libre', cursive; */

  font-size: 75px;
  width: 0px;
  height: 0px;
  transform: rotate(270deg);
}

.buttons {
  margin-top: 25%;
  position: absolute;
  width: 150px;
  bottom: 5px;
  right: 25px;
}

.buttons > * {
  margin-bottom: 10px;
  border-width: 3px;
  font-family: 'Comfortaa', cursive;
  /* font-family: 'Julius Sans One', sans-serif; */
  font-size: 20px;
  font-weight: bold;
  border-right: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  float: right;
}

.project-preview {
  margin-left: 5%;
  margin-right: 40%;
  margin-top: 15%;
  /* margin-bottom: 2px; */
  border-top-left-radius: 80px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 80px;
  border-width: 6px;
  /* transform: rotate(-3deg); */
}

.project-preview > img {
  border-top-left-radius: 74px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 74px;
}

.carousel-indicators {
  margin-left: 40%;
}

.indic {
  border: 6px solid white;
  border-radius: 6px;
  bottom: 45px;
}

.active.indic {
  border-color: #1EA54E;
}

.project-header {
  margin: 15px;
}

.project-title {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 40%;
  /* margin-top: 2px; */
  border-top-style: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  border-width: 4px;
  font-weight: bold;
  /* transform: rotate(4deg); */
}

.carousel-item {
  transition-duration: 1.5s;
}

.weather {
  width: 150%;
  position: fixed;
  bottom: 400px;
}

.wind1 {
  -webkit-animation:across 120s infinite linear;
  position: absolute;
}
.cloud1 {;
  height:200px;
  width:300px;
  border-radius: 100px;
  margin-left: -1200px;
  background: whitesmoke;
  -webkit-animation:up-down1 20s infinite ease-in-out alternate;
}

.wind2 {
  -webkit-animation:across 100s infinite linear;
  position: absolute;
}
.cloud2 {;
  height:200px;
  width:600px;
  border-radius: 100px;
  margin-left: -900px;
  background: whitesmoke;
  -webkit-animation:up-down2 15s infinite ease-in-out alternate;
}

.wind3 {
  -webkit-animation:across 80s infinite linear;
  position: absolute;
}
.cloud3 {;
  height:200px;
  width:500px;
  border-radius: 100px;
  margin-left: -600px;
  background: whitesmoke;
  -webkit-animation:up-down3 10s infinite ease-in-out alternate;
}

.wind4 {
  -webkit-animation:across 60s infinite linear;
  position: absolute;
}
.cloud4 {;
  height:200px;
  width:400px;
  border-radius: 100px;
  margin-left: -800px;
  background: whitesmoke;
  margin-top: 300px;
  -webkit-animation:up-down4 5s infinite ease-in-out alternate;
}

@-webkit-keyframes up-down1 {
  from {margin-top: -10px;}
  to {margin-top: 5px;}
}
@-webkit-keyframes up-down2 {
  from {margin-top: -20px;}
  to {margin-top: -10px;}
}@-webkit-keyframes up-down3 {
  from {margin-top: -20px;}
  to {margin-top: 40px;}
}@-webkit-keyframes up-down4 {
  from {margin-top: -60px;}
  to {margin-top: 40px;}
}
@-webkit-keyframes across {
  from{margin-left:0%;}
  to {margin-left:100%;}
}
