.navbar-fixed-left {
  width: 150px;
  padding-top: 15%;
  position: fixed;
  border-radius: 0;
  height: 100%;
  float: left;
}

.navbar-fixed-left li {
  margin-top: 0;
  width: 149px;
}

.logo-font {
  font-size: 70px;
  margin-bottom: 20px;
}

.container-fluid {
margin-left: 150px;
height: 10000px;
padding: 0px;
background-color: ###faf2ec;
}

.bg-animation {
  width: 100%;
}

.content {
  margin: 50px;
}

.center {
  text-align: center;
}

.footer {

}
